[*.cs]

# IDE0052: Remove unread private members
dotnet_diagnostic.IDE0052.severity = none

# IDE0060: Remove unused parameter
dotnet_code_quality_unused_parameters = non_public:suggestion

# IDE0059: Unnecessary assignment of a value
csharp_style_unused_value_assignment_preference = unused_local_variable:suggestion
