.xng-breadcrumb-root {
  padding: 8px 16px;
  display: inline;
  border-radius: 0;
}

label.xng-breadcrumb-trail {
  margin-bottom: 0;
  color: orange;
}

.xng-breadcrumb-separator {
  padding: 0 0;
}

.StripeElement {
  height: 3.125em;
}
