<div class="container mt-2">
  <div *ngIf="(cart$ | async) === null">
    <p>There are no items in your cart</p>
  </div>

  <div *ngIf="cart$ | async">
    <div class="pb-5">
      <div class="container">
        <div class="row">
          <div class="col-12 py-5 mb-1">
            <app-cart-summary (decrement)="decrementItemQuantity($event)"
                              (increment)="incrementItemQuantity($event)"
                              (remove)="removeCartItem($event)"
                              [items]="(cart$ | async).items"></app-cart-summary>
          </div>
        </div>

        <div class="row">
          <div class="col-6 offset-6">
            <app-order-totals
                              *ngIf="(cartTotals$ | async)"
                              [shippingPrice]="(cartTotals$ | async).shipping"
                              [subtotal]="(cartTotals$ | async).subtotal"
                              [total]="(cartTotals$ | async).total">
                                </app-order-totals>
            <a routerLink="/checkout" class="btn btn-outline-primary py-2 btn-block">
              Proceed to checkout
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


