<ng-container *ngIf="(cartService.cart$ | async) as cart">
  <div class="table-responsive">
    <table class="table table-borderless">
      <thead [class.bg-light]="isBasket || isOrder" class="border-0 py-2">
        <tr>
          <th scope="col">
            <div class="p-2 px-3 text-uppercase">Product</div>
          </th>
          <th scope="col">
            <div class="py-2 text-uppercase">Price</div>
          </th>
          <th scope="col">
            <div class="py-2 text-uppercase">Quantity</div>
          </th>
          <th scope="col">
            <div class="py-2 text-uppercase">Total</div>
          </th>
          <th *ngIf="isCart" scope="col" class="border-0">
            <div class="py-2 text-uppercase">Remove</div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cart.items">
          <th scope="row">
            <div class="p-2">
              <img src="{{item.pictureUrl}}" alt="{{item.productName}}"
                   class="img-fluid" style="max-height: 50px;">
              <div class="ms-3 d-inline-block align-middle">
                <h5 class="mb-0">
                  <a routerLink="/store/{{item.id}}"
                     class="text-dark text-decoration-none">{{item.productName}}</a>
                </h5>
                <span *ngIf="item.type"
                      class="text-muted fw-normal fst-italic d-block">
                  Type:
                  {{item.type}}
                </span>
              </div>
            </div>
          </th>
          <td class="align-middle"><strong>{{item.price | currency: 'GBP'}}</strong></td>
          <td class="align-middle">
            <div class="d-flex align-items-center" [class.justify-content-center]="!isCart">
              <i *ngIf="isCart" (click)="removeCartItem(item.id, 1)" class="fa fa-minus-circle text-warning me-2"
                 style="cursor: pointer; font-size: 2em;"></i>
              <span class="fw-bold" style="font-size: 1.5em;">
                {{item.quantity}}
              </span>
              <i *ngIf="isCart" (click)="addCartItem(item)" class="fa fa-plus-circle text-warning mx-2"
                 style="cursor: pointer; font-size: 2em;"></i>
            </div>
          </td>
          <td class="align-middle">
            <strong>{{item.price * item.quantity | currency: 'GBP'}}</strong>
          </td>
          <td class="align-middle text-center">
            <a class="text-danger">
              <i *ngIf="isCart" (click)="removeCartItem(item.id, item.quantity)" class="fa fa-trash" style="font-size: 2em; cursor: pointer;"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>
